.padding-sm {
    padding: $padding-sm;
}


.stack,
.c-flow {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;        
    &:only-child {
        block-size: 100%;
    }      
    & > * + * {
        margin-block-start: var(--space, 1.5rem);
    }
}

.stack-exception,
.stack-exception + * {
--space: 3rem;
}

/* .stack-push > :nth-child(1) {
    margin-block-end: auto;
} */


/* [data-space="small"] {

} */