/* @font-face {
    font-family: 'Newake-Font-Demo';
    src: url(../../Newake-Font-Demo.otf);
} */

*, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: $light;
    //font-family: 'Newake-Font-Demo'!important;
}