

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)


html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-weight: unset;
    //font-size: 1rem;
    //line-height: unset;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*/

.w-container, 
.c-container {
    @include make-container($gutter: $container-padding-x);
    @include media-breakpoint-up(sm) {
        max-width: map-get($container-max-widths,"sm");
    }
    @include media-breakpoint-up(md) {
        max-width: map-get($container-max-widths,"md");
    }
    @include media-breakpoint-up(lg) {
        max-width: map-get($container-max-widths,"lg");
    }
    @include media-breakpoint-up(xl) {
        max-width: map-get($container-max-widths,"xl");
    }
}
.w-container .w-row, 
.c-container .c-row {
    @include make-row();
}
.w-col,
.c-col {
    @include make-col-ready();
    @include make-col();
    @include media-breakpoint-down(sm) {
        flex: 0 0 auto;
    }
    position: unset;
    float: unset;
    min-height: unset;
}
img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}


