$primary: green;

$grid-columns:      12;
$grid-gutter-width: 5px;

$grid-breakpoints: (
  xs: 0,
  sm: 479px,
  md: 767px,
  lg: 991px,
  xl: 1440px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 920px,
  xl: 1300px
);